.problems__title {
  width: 352px;
  font-family: "Open-Sans", Arial, sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #F2F2F2;
  margin-top: 0;
  margin-bottom: 30px;
}
