.idea__button {
  width: 250px;
  height: 60px;
  background: #EB5757;
  border-radius: 8px;
  font-family: "Open-Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  transition: background .4s ease-out;
}

.idea__button:hover {
  cursor: pointer;
  background: #B92F2F;
}
