.report__button {
  width: 250px;
  height: 60px;
  background: #EB5757;
  border-radius: 8px;
  font-family: "Open-Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 430px;
  margin-top: 20px;
  transition: background .4 ease-out;
}

.report__button:hover {
  cursor: pointer;
  background-color: #B92F2F;
}
