.leader-like__title {
  width: 796px;
  font-family: "Open-Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #F2F2F2;
  margin-bottom: 35px;
}
