.footer__soc-title {
  font-family: "Open-Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #212121;
  margin-top: 0;
  margin-bottom: 20px;
}
