.quote__card {
  width: 348px;
  height: 433px;
  background: #F2F2F2;
  border-radius: 8px;
  margin-right: 48px;
  margin-bottom: 32px;
  color: #000;
  font-size: 16px;
}

.quote__card:last-child {
  margin-right: 0;
}

.quote__card:hover {
  cursor: pointer;
}
